.is-hidden {
   opacity: 0;
      visibility: hidden;
      pointer-events: none;
   }
.search-form {
display: flex;
padding: 20px;
margin-bottom: 10px;
background-color: rgb(87, 36, 227);
}

.formwrap {
   position: relative;
   margin: 0 auto;
}

.input {
      // position: relative;   
      width: 358px;
      height: 50px;
      padding: 15px 15px;

      border: 1px solid rgba(255, 255, 255, 0.3);
      // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
   background-color: rgb(197, 217, 244);     
    outline: transparent;
    font-size: 25;

}

.search-btn {
         position: absolute;
         right: 0;
   justify-content: center;      
   height: 50px;
   width: 50px;

      background-color: rgb(197, 217, 244);
            border: 1px solid rgba(255, 255, 255, 0.3);
                  border-radius: 4px;
                  font-weight: 500;
}
#icon-search {
         position: absolute;
            top: 16px;
            left: 16px;
            width: 12px;
            height: 12px;
            fill: rgb(12, 70, 70);
            z-index: 111;
}