.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   }
.search-form {
   display: flex;
   padding: 20px;
   margin-bottom: 10px;
   background-color: rgb(87, 36, 227);
}

.formwrap {
   position: relative;
   margin: 0 auto;
}

.input {
   width: 358px;
   height: 50px;
   padding: 15px 15px;
   color: rgb(0, 0, 144);
   border: 1px solid rgba(255, 255, 255);
   border-radius: 4px;
   background-color: rgb(197, 217, 244);     
   outline: transparent;
   font-size: 25px;

}

.search-btn {
   position: absolute;
   right: 0;
   justify-content: center;      
   height: 50px;
   width: 50px;
   background-color: rgb(127, 169, 225);
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   cursor: pointer;
}

.search-btn:hover .icon-search {
   transform: scale(1.4);
}

.btn-wrap {
   display: flex;
   justify-content: center;
   margin: 30px 0;

}
.load-more {
   display: flex;      
   padding: 5px;  
   background-color: rgb(127, 169, 225);
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   cursor: pointer;
   font-size: 20px;
   font-weight: 500;
   color: rgb(0, 0, 144);
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}