:root {
   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   --animation-duration: 250ms;
}

.gallery {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   scroll-behavior: smooth;
}

.gallery-item {
   position: relative;
   
}

.gallery-image:hover {
   transform: scale(1.03);
}

.gallery-image {   
   display: block;
   width: 100%;
   object-fit: cover;
   transition: transform var(--animation-duration) var(--timing-function);
}


.load-more {
   display: inline-block;
}

.info {
   display: flex;
   justify-content: space-between;
   padding: 5px;
   background-color: rgba(107, 142, 186, 0.164);;
}
.photo-card {
   display: flex; 
   flex-basis: calc((100% - 90px) / 4);   
   flex-direction: column;
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
         0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.info-item {
   display: flex;
   gap: auto;
   flex-direction: column;
   font-size: 12px;
   text-transform: uppercase;
   line-height: 1.5;
   text-align: center;
}

.info-item:hover {
   color: rgba(10, 21, 118, 0.515);
   border-radius: 4px;
   cursor: text;
}

.btn-up {
   position: fixed;
   background-color: #d8f500;
   right: 20px;
   bottom: 30px;
   border-radius: 25px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
   color: #233eeb;
   width: 50px;
   height: 50px;
   opacity: 1;
   transform: translateY(0);
}

.btn-up_hide {
   display: none;
}

.btn-up_hiding {
   opacity: 0;
   transform: translateY(100px);
}

.btn-up-icon {
   width: 40px;
   height: 40px;
   fill: currentcolor;
}

@media (hover: hover) and (pointer: fine) {
   .btn-up:hover {
      background-color: #233eeb;
      color: #d8f500;
   }
}