:root {
   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   --animation-duration: 250ms;
}

.gallery {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
}

.gallery-item {
   position: relative;
   
}

.gallery-image:hover {
   transform: scale(1.03);
}

.gallery-image {   
   display: block;
   width: 100%;
   object-fit: cover;
   transition: transform var(--animation-duration) var(--timing-function);
}


.load-more {
   display: inline-block;
}

.info {
   display: flex;
   justify-content: space-between;
   padding: 5px;
}
.photo-card {
   display: flex; 
   flex-basis: calc((100% - 90px) / 4);   
   flex-direction: column;
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
         0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.info-item {
   display: flex;
   gap: auto;
   flex-direction: column;
   font-size: 12px;
   text-transform: uppercase;
   line-height: 1.5;
   text-align: center;
}

.info-item:hover {
   background-color: rgba(127, 169, 225, 0.231);
   border-radius: 4px;
   cursor: text;
}