<main>
  <section>
    <form class="search-form" id="search-form">
      <div class="formwrap">
        <input
          class="input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button class="search-btn" type="submit">
          <svg class="icon-search" width="20px" height="20px">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>

    <div class="gallery">
      <!-- Картки зображень -->
    </div>
    <div class="btn-wrap">
      <button type="button" class="load-more is-hidden">Load more</button>
    </div>
  </section>
</main>
<!-- is-hidden -->
